.row
    .col-xs-12
        .panel.panel-default
            .panel-heading BRB
            .panel-body
                .form-group
                    label.control-label Text
                    input.form-control(v-model="overlay.modified.brb.text")