.row
    .col-xs-12.col-sm-4
        .panel.panel-default
            .panel-heading Map 1
            .panel-body
                .form-group
                    label.control-label Map name
                    select.map-button.form-control(v-model="overlay.modified.maps[0].map")
                        option(value="UNKNOWN") UNKNOWN
                        option(v-for="map in available_maps" v-bind:value="map") {{ map }}
                    button.map-button.btn.btn-lg(v-bind:class="isFocused(0) ? 'btn-success' : 'btn-danger'",
                    v-on:click="isFocused(0) ? focus(null) : focus(0)") Focus
                    label.control-label Who selected?
                    select.map-button.form-control(v-model="overlay.modified.maps[0].selectedBy")
                        option(value="left") Left
                        option(value="right") Right
                    label.control-label Text
                    input.map-button(v-model="overlay.modified.maps[0].text")
    .col-xs-12.col-sm-4
        .panel.panel-default
            .panel-heading Map 2
            .panel-body
                .form-group
                    label.control-label Map name
                    select.map-button.form-control(v-model="overlay.modified.maps[1].map")
                        option(value="UNKNOWN") UNKNOWN
                        option(v-for="map in available_maps" v-bind:value="map") {{ map }}
                    button.map-button.btn.btn-lg(v-bind:class="isFocused(1) ? 'btn-success' : 'btn-danger'",
                    v-on:click="isFocused(1) ? focus(null) : focus(1)") Focus
                    label.control-label Who selected?
                    select.map-button.form-control(v-model="overlay.modified.maps[1].selectedBy")
                        option(value="left") Left
                        option(value="right") Right
                    label.control-label Text
                    input.map-button(v-model="overlay.modified.maps[1].text")

    .col-xs-12.col-sm-4
        .panel.panel-default
            .panel-heading Map 3
            .panel-body
                .form-group
                    label.control-label Map name
                    select.map-button.form-control(v-model="overlay.modified.maps[2].map")
                        option(value="UNKNOWN") UNKNOWN
                        option(v-for="map in available_maps" v-bind:value="map") {{ map }}
                    button.map-button.btn.btn-lg(v-bind:class="isFocused(2) ? 'btn-success' : 'btn-danger'",
                    v-on:click="isFocused(2) ? focus(null) : focus(2)") Focus
                    label.control-label Who selected?
                    select.map-button.form-control(v-model="overlay.modified.maps[2].selectedBy")
                        option(value="left") Left
                        option(value="right") Right
                    label.control-label Text
                    input.map-button(v-model="overlay.modified.maps[2].text")