.row
    .col-xs-12
        .panel.panel-default
            .panel-heading Show
            .panel-body
                span.view-buttons
                    button.btn.btn-lg(v-for="(visible, viewName) in overlay.show"
                            v-bind:class="visible ? 'btn-success' : 'btn-danger'"
                            v-on:click="setVisible(viewName, !visible)") {{ viewName }}