.row
    .col-xs-12
        .panel.panel-default
            .panel-heading Show
            .panel-body
                span.view-buttons
                    button.btn.btn-lg(v-for="view in getObjectAsArray(overlay.show)"
                            v-bind:class="view.value ? 'btn-success' : 'btn-danger'"
                            v-on:click="setVisible(view.key, !view.value)") {{ view.key }}