doctype HTML
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, authed-scalable=no")
        meta(name="theme-color" content="#870042")
        title Overlay
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css", rel="stylesheet")
        script(src="//unpkg.com/vue")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,900&amp;subset=latin-ext")
        link(rel="stylesheet" href="../assets/css/master.css")
    body
        #app(v-cloak)
            span.bo3-view.maps-view(v-if="data != null")
                .team.left-team(v-bind:class="show ? '' : 'hidden'")
                    img(src="../assets/img/team-hexagon-small.svg")
                    .logo-container
                        img(v-bind:src="data.teams.left.logo != null ? data.teams.left.logo.original : '../assets/img/unknown-team.svg'")
                    p.team-name {{data.teams.left.name}}
                .team.right-team(v-bind:class="show ? '' : 'hidden'")
                    img(src="../assets/img/team-hexagon-small.svg")
                    .logo-container
                        img(v-bind:src="data.teams.right.logo != null ? data.teams.right.logo.original : '../assets/img/unknown-team.svg'")
                    p.team-name {{data.teams.right.name}}
                .map.map-left(v-bind:class= "data.focusedMap == 0 ? 'active' : ''")
                    img.map-preview(v-bind:src="'../assets/img/bo1-' + toLowerCase(data.maps[0].map) + '.svg'")(v-bind:class="show ? '' : 'hidden'")
                    .map-text-container(v-bind:class="show ? '' : 'hidden'")
                        img(src="../assets/img/bo1-map-text-hexagon.svg")
                        p.map-name {{data.maps[0].map}}
                        p.map-text {{data.maps[0].text}}
                .map.map-middle(v-bind:class= "data.focusedMap == 1 ? 'active' : ''")
                    img.map-preview(v-bind:src="'../assets/img/bo1-' + toLowerCase(data.maps[1].map) + '.svg'")(v-bind:class="show ? '' : 'hidden'")
                    .map-text-container(v-bind:class="show ? '' : 'hidden'")
                        img(src="../assets/img/bo1-map-text-hexagon.svg")
                        p.map-name {{data.maps[1].map}}
                        p.map-text {{data.maps[1].text}}
                .map.map-right(v-bind:class= "data.focusedMap == 2 ? 'active' : ''")
                    img.map-preview(v-bind:src="'../assets/img/bo1-' + toLowerCase(data.maps[2].map) + '.svg'")(v-bind:class="show ? '' : 'hidden'")
                    .map-text-container(v-bind:class="show ? '' : 'hidden'")
                        img(src="../assets/img/bo1-map-text-hexagon.svg")
                        p.map-name {{data.maps[2].map}}
                        p.map-text {{data.maps[2].text}}
        script.
            var VIEW_NAME = "Best of 3";
        script(src="../assets/js/app.js")