doctype HTML
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, authed-scalable=no")
        meta(name="theme-color" content="#870042")
        title Overlay
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css", rel="stylesheet")
        script(src="//unpkg.com/vue")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,900&amp;subset=latin-ext")
        link(rel="stylesheet" href="../assets/css/master.css")
    body
        #app(v-cloak)
            span.upnext-view(v-if="data != null")
                img.event-logo(src="../assets/img/logo-hexagon.svg")(v-bind:class="show ? '' : 'hidden'")
                .team.left-team(v-bind:class="show ? '' : 'hidden'")
                    img(src="../assets/img/team-hexagon.svg")
                    .logo-container
                        img(v-bind:src="data.teams.left.logo != null ? data.teams.left.logo.original : '../assets/img/unknown-team.svg'")
                    p.team-name {{data.teams.left.name}}
                .team.right-team(v-bind:class="show ? '' : 'hidden'")
                    img(src="../assets/img/team-hexagon.svg")
                    .logo-container
                        img(v-bind:src="data.teams.right.logo != null ? data.teams.right.logo.original : '../assets/img/unknown-team.svg'")
                    p.team-name {{data.teams.right.name}}
                p.versus-text(v-bind:class="show ? '' : 'hidden'") VS

        script.
            var VIEW_NAME = "Up Next";
        script(src="../assets/js/app.js")