doctype HTML
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, authed-scalable=no")
        meta(name="theme-color" content="#870042")
        title Overlay
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css", rel="stylesheet")
        script(src="//unpkg.com/vue")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,900&amp;subset=latin-ext")
        link(rel="stylesheet" href="../assets/css/master.css")
    body
        #app(v-cloak)
            span.upnext-view(v-if="data != null")
                img.backdrop(src="../assets/img/dotted-bg.png" v-bind:class="show ? 'visible' : ''")

        script.
            var VIEW_NAME = "Up Next";
        script(src="../assets/js/app.js")